<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>HTKB: @Page.Title</title>
    @RenderSection("head", required: false)
    <link href="@Href("~/Styles/Section1/Section1.css")" rel="stylesheet" type="text/css" />
    <link runat="server" rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="../../favicon.ico" type="image/ico" />
</head>

<body id="idBody">
    <font color="white">
        <table id="idTableMain">
            <tr id="idHeaderRow">
                <td id="idHeaderRowCenter" colspan="3">
                    <img id="idLogo" src="../../Pictures/logo_HouseThatKamuraiBuilt_blueonblack.jpg" /><br>
                </td>
            </tr>
            <tr id="idNavigationRow">
                <td id="idNavigationBar" colspan="3">
                    <a class="navBar" href="../../index.cshtml">Home</a>
                    <a class="navBar" href="../../Section1/index.cshtml">Web Programming</a>
                    <a class="navBar" href="../../Section2/index.cshtml">Private Projects</a>
                    <a class="navBar" href="../../Section3/index.cshtml">Downloadable Projects</a>
                </td>
            </tr>
            <tr id="idCenterRow">
                <td id="idCenterRowLeft">
                    <h4>
                        Navigation
                    </h4>
                    <a class="navlinkA" href="http://htkb.dyndns.org/Section1/Project1.html">HTML</a><br /><br />
                    <a class="navlinkA" href="http://htkb.dyndns.org/Section1/Project1.php">PHP</a><br /><br />
                    <a class="navlinkA" href="../Section2/Index.cshtml">Javascript</a><br /><br />
                    <a class="navlinkA" href="../Project3.cshtml">Perl</a><br /><br />
                    <a class="navlinkA" href="../Section4/Index.cshtml">Java</a><br /><br />
                    <a class="navlinkB" href='http://htkb.dyndns.org:8080/JSPApplication/Section1/Section4/Project1.jsp'>JSP Programming</a><br /><br />
                    <a class="navlinkB" href='http://htkb.dyndns.org:8080/JSFApplication/Section1/Section4/Project2.xhtml'>JSF Programming</a><br /><br />
                    <a class="navlinkA" href="../Section5/Index.cshtml">ASP.Net</a><br /><br />
                    <a class="navlinkA" href="../Section6/index.cshtml">Databases</a><br /><br />
                    <a class="navlinkA" href="http://htkb.dyndns.org/SSI/Section1/index.html">Apache SSI</a><br /><br />
                </td>
                <td id="idCenterRowMain">
                    <h2>
                        @Page.Title
                    </h2>
                    @RenderBody()
                </td>
                <td id="idCenterRowRight">
                    <h4>
                        Information
                    </h4>
                    This is written with ASP.NET as a Web Page Application.<br /><br />
                    Other versions can be found here:<br />
                    @Html.Raw(@Page.Versions)
                </td>
            </tr>
            <tr id="idFooterRow">
                <td id="idFooterMain" colspan="3">
                    <p id="idFooterContent">
                        © Copyright 2012 All rights reserved<br>
                        House That Kamurai Built<br>
                    </p>
                    <p id="idFooterManagement">
                        Website managed by Kamurai.
                    </p>
                </td>
            </tr>
        </table>
    </font>
</body>
</html>