<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>HTKB: @Page.Title</title>
    @RenderSection("head", required: false)
    <link href="@Href("~/Styles/Section2/Section2.css")" rel="stylesheet" type="text/css" />
    <link runat="server" rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="../../../favicon.ico" type="image/ico" />
</head>
<body id="idBody">
    <font color="white">
        <table id="idTableMain">
            <tr id="idHeaderRow">
                <td id="idHeaderRowCenter" colspan="3">
                    <img id="idLogo" src="../../../Pictures/logo_HouseThatKamuraiBuilt_blueonblack.jpg" /><br>
                </td>
            </tr>
            <tr id="idNavigationRow">
                <td id="idNavigationBar" colspan="3">
                    <a class="navBar" href="../../../index.cshtml">Home</a>
                    <a class="navBar" href="../../../Section1/index.cshtml">Web Programming</a>
                    <a class="navBar" href="../../../Section2/index.cshtml">Private Projects</a>
                    <a class="navBar" href="../../../Section3/index.cshtml">Downloadable Projects</a>
                </td>
            </tr>
            <tr id="idCenterRow">
                <td id="idCenterRowLeft">
                    <h4>
                        Navigation
                    </h4>
                    <a class="navlinkA" href="../../Section1/index.cshtml">Gynowars</a><br /><br />
                    <a class="navlinkA" href="../../Project2.cshtml">Assault</a><br /><br />
                    <a class="navlinkA" href="../../Project3.cshtml">Mars</a><br /><br />
                    <a class="navlinkA" href="../../Section4/index.cshtml">Renley</a><br /><br />
                    <a class="navlinkA" href="../../Section5/index.cshtml">Antarrea</a><br /><br />
                        <a class="navlinkB" href="../Section1/index.cshtml">Global</a><br /><br />
                            <a class="navlinkC" href="./Project1.cshtml">Team Tactial: Crash Ball</a><br /><br />
                            <a class="navlinkC" href="./Project2.cshtml">Wars of Antarrea</a><br /><br />
                            <a class="navlinkC" href="./Project3.cshtml">Revolutions: Invading Nations:</a><br /><br />
                            <a class="navlinkC" href="./Project4.cshtml">Revolutions: Rebellion Against the Fist</a><br /><br />        
                            <a class="navlinkC" href="./Project5.cshtml">Revolutions: Return to Arms</a><br /><br />
                            <a class="navlinkC" href="./Project6.cshtml">Revolutions: Post Wars</a><br /><br />
                        <a class="navlinkB" href="../Section2/index.cshtml">Grendol</a><br /><br />
                        <a class="navlinkB" href="../Section3/index.cshtml">Utopia</a><br /><br />
                        <a class="navlinkB" href="../Section4/index.cshtml">Elvia</a><br /><br />
                    <a class="navlinkA" href="../../Section6/index.cshtml">Editations</a><br /><br />
                    <a class="navlinkA" href="../../Project7.cshtml">Truth</a><br /><br />
                    <a class="navlinkA" href="../../Project8.cshtml">Kingdoms</a><br /><br />
                    <a class="navlinkA" href="../../Project9.cshtml">Terminal World</a><br /><br />
                    <a class="navlinkA" href="../../Project10.cshtml">Monster Office Workplace</a><br /><br />
                    <a class="navlinkA" href="../../Project11.cshtml">Battle Princesses</a><br /><br />
                    <a class="navlinkA" href="../../Project12.cshtml">Sacred Offerings</a><br /><br />
                    <a class="navlinkA" href="../../Project13.cshtml">The Way</a><br /><br />
                    <a class="navlinkA" href="../../Project14.cshtml">Conspiratorium</a><br /><br />
                    <a class="navlinkA" href="../../Project15.cshtml">Conversion</a><br /><br />
                </td>
                <td id="idCenterRowMain">
                    <h2>
                        @Page.Title
                    </h2>
                    @RenderBody()
                </td>
                <td id="idCenterRowRight">
                    <h4>
                        Information
                    </h4>
                    This is written with ASP.NET as a Web Page Application.<br /><br />
                    Other versions can be found here:<br />
                    @Html.Raw(@Page.Versions)
                </td>
            </tr>
            <tr id="idFooterRow">
                <td id="idFooterMain" colspan="3">
                    <p id="idFooterContent">
                        © Copyright 2012 All rights reserved<br>
                        House That Kamurai Built<br>
                    </p>
                    <p id="idFooterManagement">
                        Website managed by Kamurai.
                    </p>
                </td>
            </tr>
        </table>
    </font>
</body>
</html>